<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuario</title>
</head>
<body>
    <style>
        nav{
            padding: 20px;
            background-color: darkblue;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        a{
            color: white;
            text-decoration: none;
            padding: 10px;
            border-radius: 10px;
            background-color: darkcyan;
        }
    </style>
    <nav>
        <h1>Logo</h1>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
        </div>
    </nav>


    <% for(let user of users){ %>
        <% if (user.id % 2 == 0){ %> 
        <h1> <%=user.name%> </h1>
        <h3> <%=user.phone%> </h3>
        <% } %> 
    <% } %> 
</body>
</html>